openapi: 3.1.0
info:
  title: Google Cloud Logging Bucket Sinks API
  description: 'Google Cloud Logging API v2 writes log entries and manages Cloud Logging

    configuration including buckets, sinks, exclusions, log-based metrics,

    monitored resource descriptors, and CMEK settings.

    '
  version: v2
servers:
- url: https://logging.googleapis.com
security:
- OAuth2:
  - logging.write
- OAuth2:
  - logging.read
- OAuth2:
  - logging.admin
- OAuth2:
  - cloud-platform
tags:
- name: Sinks
paths:
  /v2/{parent}/sinks:
    get:
      summary: List sinks
      operationId: listSinks
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of sinks
          content:
            application/json:
              schema:
                type: object
                properties:
                  sinks:
                    type: array
                    items:
                      $ref: '#/components/schemas/LogSink'
      tags:
      - Sinks
    post:
      summary: Create sink
      operationId: createSink
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: uniqueWriterIdentity
        in: query
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogSink'
      responses:
        '200':
          description: Created sink
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSink'
      tags:
      - Sinks
components:
  schemas:
    LogSink:
      type: object
      properties:
        name:
          type: string
        destination:
          type: string
        filter:
          type: string
        description:
          type: string
        disabled:
          type: boolean
        writerIdentity:
          type: string
        includeChildren:
          type: boolean
        createTime:
          type: string
          format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            logging.write: Submit log data
            logging.read: View logs
            logging.admin: Administrate logs
            cloud-platform: View and manage your data across Google Cloud Platform services
