openapi: 3.1.0
info:
  title: Google Cloud Logging Bucket Entries:tail API
  description: 'Google Cloud Logging API v2 writes log entries and manages Cloud Logging

    configuration including buckets, sinks, exclusions, log-based metrics,

    monitored resource descriptors, and CMEK settings.

    '
  version: v2
servers:
- url: https://logging.googleapis.com
security:
- OAuth2:
  - logging.write
- OAuth2:
  - logging.read
- OAuth2:
  - logging.admin
- OAuth2:
  - cloud-platform
tags:
- name: Entries:tail
paths:
  /v2/entries:tail:
    post:
      summary: Tail log entries
      operationId: tailLogEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceNames:
                  type: array
                  items:
                    type: string
                filter:
                  type: string
                bufferWindow:
                  type: string
      responses:
        '200':
          description: Streaming tail response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Entries:tail
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            logging.write: Submit log data
            logging.read: View logs
            logging.admin: Administrate logs
            cloud-platform: View and manage your data across Google Cloud Platform services
